/* Use Open Sans as the default sans serif font. */
@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --bs-body-font-family: 'Oswald', sans-serif !important;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the SignIn and SignUp alerts background. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--bs-gray-200);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

/* Main Calendar Side Bar */
.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.app-sidebar {
  margin-top: 37px;
  width: 300px;
  line-height: 1.5;
  border-right: 1px solid #ede9e1;

}

.app-sidebar-item {
  margin-top: 37px;
  width: 400px;
  line-height: 1.5;
  border-right: 1px solid #ede9e1;

}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

/* Non-Working Days Card (add timeout) */
.card-non-working-days {
  padding: 1em;
}

/* List timeouts card */
.card-list-timeouts {
  padding: 1em;
}

/* Row of timeout Item */
.timeout-item-row {
  margin-bottom: 4px;
  margin-top: 4px;
}

.card-list-row-timeouts {
  background-color: #ECECEC;
}

.timeout-tabs-container {
  margin-top: 40px;
}

.calc-hours-left-container {
  background-color: #ECECEC;
  padding: 10px;
  margin-bottom: 20px;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif !important;;
}

.card-list-eventsday, .card-list-all-eventsday {
  padding: 20px;
}
 